@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "custom-font-header";
  src: url(../Fonts/Marlboro.ttf) format("truetype");
}
@font-face {
  font-family: "custom-font-text";
  src: url(../Fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}
